django
django-allauth
django-bootstrap3
django-filter
djangorestframework
factory-boy
markdown
pip-tools
pytest-cov
pytest-django
pytest-splinter
requests
requests-mock
splinter==0.7.3  # 0.7.4 is broken.
